/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #74b9ff, #0984e3);
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

header h1 {
    color: #0984e3;
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    color: #636e72;
    font-size: 14px;
}

/* Formulario */
.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row .form-group {
    flex: 1;
}

label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #2d3436;
    margin-bottom: 5px;
}

label i {
    color: #0984e3;
    margin-right: 5px;
}

input, select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dfe6e9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #0984e3;
}

/* Botones */
.btn-submit, .btn-secondary {
    width: 100%;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-volver{
    width: 100%;
     background: linear-gradient(135deg, #74b9ff, #0984e3);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.btn-volver:hover{
    background: #00a884;
    color: khaki;
}
.btn-submit:hover {
    background: #00a884;
    color: khaki;
}

.btn-secondary {
    background-color: #0984e3;
    margin-top: 15px;
}

.btn-secondary:hover {
    background-color: #076bc1;
}

/* Mensaje de Éxito */
.hidden {
    display: none;
}

#successMessage {
    text-align: center;
    padding: 20px 0;
}

#successMessage i {
    font-size: 50px;
    color: #00b894;
    margin-bottom: 15px;
}

#successMessage h2 {
    color: #2d3436;
    margin-bottom: 10px;
}

#successMessage p {
    color: #636e72;
    font-size: 14px;
    margin-bottom: 20px;
}